# WebUI映射到宿主的端口
PORT=7860

# 指定使用的GPU设备ID，使用逗号分隔多个GPU
CUDA_VISIBLE_DEVICES=all

#===========================
#需要本地固化的目录
#===========================
# 输入文件
INPUT_DIR=./input
# 输出结果
RESULTS_DIR=./results
# 预训练模型存储目录
PRETRAIN_DIR=./pretrain


#===========================
# webUI.py额外启动参数
EXTRA_ARGS=

# =========================================
# --debug: 启用调试模式
# --share: 启用公网分享链接
# --language zh_CN: 设置界面语言为中文
# --use_cloud: 云模式（支持自动拉取下载模型）
# --force_cpu: 强制使用CPU模式


# Hugging Face模型缓存目录（通常不需要修改）
HF_HOME=/app/pretrain

# Gradio临时文件目录（通常不需要修改）
GRADIO_TEMP_DIR=/app/cache
